
.App {
  height: 100vh;
  width: 100%;
  background-color: #05e8ba;
  background-image: linear-gradient(315deg, rgba(5, 232, 186, .6) 0%, rgba(8, 126, 225, .6) 74%),
                    url('./bgImg.jpg');
  background-size: 100% 100%;
}

.App h1 {
  text-align: center;
  margin: 0;
  color: white;
}

.header {
  position: absolute;
  top: 10%;
  left: 50%;
  padding: 0 2rem;
  transform: translate(-50%, -50%);
}

.glassCard {
  background: inherit;
  box-shadow: 0 0 1rem 0 rgba(0, 0, 0, .2);
  border-radius: 15px;
  z-index: 1;
}

.glassCard:before {
  content: '';
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  box-shadow: inset 0 0 2000px rgba(255, 255, 255, .35);
  filter: blur(10px);
  background: inherit;
}

.citySelector {
  display: flex;
  height: 35px;
  width: 20%;
  min-width: 330px;
  position: absolute;
  top: 20%;
  left: 50%;
  padding: 0 2rem;
  transform: translate(-50%, -50%);
}

.citySelector input {
  width: 60%;
  background: white;
  border: none;
  border-radius: 15px 0 0 15px;
  padding: 1rem;
}

.citySelector button {
  width: 30%;
  border: none;
  border-radius: 0 15px 15px 0;
  color: white;
  background-color: blue;
  font-weight: 500;
}

.weatherCard {
  height: 250px;
  width: 20%;
  min-width: 250px;
  padding: 2rem;
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.cardMsg {
  width: 100%;
  height: 100%;
  position: relative;
}

.cardMsg p {
  width: 100%;
  text-align: center;
  margin: 0;
  position: absolute;
  top: 50%;
  transform: translate(0%, -50%);
  font-size: 120%;
}

.cityInfo {
  text-align: center;
  margin-top: 11px;
}

.cityInfo h2 {
  margin: 0;
  padding: 0;
  font-size: 200%;
  font-weight: 500;
}

.cityInfo p {
  margin: 0;
  padding: 0;
  font-size: 90%;
  color: rgba(0, 0, 0, .6);
}

.imgDiv {
  width: 40%;
  height: auto;
  margin: 0 auto;
  margin-top: 10px;
  padding: 0;
  border-radius: 50%;
}

.tempDiv {
  text-align: center;
  margin: 0;
}

.tempDiv h2 {
  margin: 0;
  font-size: 250%;
  font-weight: 550;
}
